a
{
    text-decoration: none;
    color: black;
}
.form-group
{
    margin: 10px 0px ; 
}
.form-control:focus
{
    background-color: yellowgreen;
}
body
{
    text-align: center;
    background-color: chocolate;
}